[Unit]
Description=Nomad agent {{ nomad_artifact_version }}
Documentation=https://www.nomadproject.io/docs/
After=network-online.target
Wants=network-online.target

[Service]
; Start/Restart
ExecStart=/usr/sbin/nomad agent -config {{ _nomad_conf_dir }}
ExecReload=/bin/kill -HUP $MAINPID

; Restart on crash
Restart=on-failure

; Umask
UMask=0077

; Kill mode
KillMode=process
KillSignal=SIGINT

; Limits
LimitNOFILE={{ nomad_daemon_nofiles }}
LimitNPROC={{ nomad_daemon_nproc }}
TasksMax={{ nomad_daemon_tasksmax }}

; Syslog configuration
SyslogIdentifier=nomad

[Install]
WantedBy=multi-user.target
